services:
  api:
    depends_on:
      - db
    build: .
    ports:
      - 8000:8000
    environment:
      - dbURI=mongodb+srv://testUser:2TestUser@node-practice.4fa5l.mongodb.net/sms-dashboard?retryWrites=true&w=majority
      - public_key=pk_live_51L84wFBJ7WGCnfVP9kQpnsl2NDlw0TLrJCnmMlEjJUH6gOApYnmQi03KIfweLYHVJJLV7LCVXdyE3aiy1FXfnL9p005K8cS0uY
      - username=sandbox
      - apiKey=atsk_32de5e174bbfecf005407f215ec13750634201a44906dce317bc09a0213a527086d858e0
      - PORT=8000
      - JWT_SECRET=e1f52557ba4b192f302d9ea15e3786333fffe5cbfa
      - EMAIL_USER=9e5wD@example.com
      - EMAIL_PASS=Test@123
      - CLIENT_URL=https://infotext.netlify.app/
      - WEBHOOK_SECRET=secretcallbacksecret
    develop:
      watch:
        - action: sync
          path: ./src
          target: /app
          ignore:
            - node_modules/
        - action: rebuild
          path: package.json

  db: 
    image: mongo
    volumes:
      - db-data:/data/db
    ports:
      - 27017:27017
volumes:
  db-data:
